@import "style.css";

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
}

/* ----- Chat starts ----- */
.users {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.users > * {
  background-color: black;
  border-radius: 0 30px 30px 0;
  padding: 10px;
}

.users > * > * {
  color: white;
}

.users > .surr {
  width: 50% !important;
  background-color: white;
  color: black;
  border: 1px black solid;
}

.users > .surr > p {
  color: black;
}

/* ----- Chat ends ----- */

/* ----- Captcha stars ----- */

.captcha {
  border: 1px solid black;
  width: 320px;
  padding: 8px;
  background-color: white;
  align-self: center;
}

.captcha > .question {
  background-color: #2a76d9;
  padding: 24px 16px;
}

.captcha > .question > * {
  color: white;
}

.captcha > .options {
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 6px 0;
  gap: 4px;
}

.captcha > .options > .item {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.commands {
  display: grid;
  justify-items: end;
  border-top: 1px solid black;
  margin: 0 -8px -8px -8px;
  padding: 8px;
}

.commands > button {
  height: 50px;
  width: 110px;
  background-color: #2a76d9;
  border: 0;
  color: white;
  font-size: 1.1rem;
}

/* ----- Captcha ends ----- */

/* ----- Chat starts ----- */

.chat {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat > .message_area {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  height: 95%;
}

.chat > .message_field {
  height: 5%;
  padding: 4px 0;
  display: flex;
}

.chat > .message_field > .write {
  flex-basis: 80%;
  height: 100%;
  border: 1px solid black;
}

.chat > .message_field > .send_message {
  flex-basis: 20%;
  height: 100%;
  border: 0;
}
/* ----- Chat ends ----- */

/* ----- Road starts ----- */
.road {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 98px;
  vertical-align: middle;
}

.road > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.road > svg > rect {
  width: 100%;
  height: 100px;
}

/* ----- Road ends ----- */

/* ----- Players starts ----- */

.players {
  z-index: 2;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  bottom: -120px;
}

.players > * {
  transform: scale(0.5);
  height: 200px;
}

#player_red {
  position: absolute;
  left: 15px;
  bottom: 0px;
}
/* 15, 20 */
#player_blue {
  position: absolute;
  left: 45px;
  bottom: 0px;
}

/* ----- Player ends ----- */
