<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../style/style-about.css" />
  </head>
  <body>
    <main>
      <h1>Kapthca</h1>
      <a href="./index">Home page</a>

      <p>
        Introducing "Kaptcha" - the ultimate battle of wit and speed between two
        aspiring captcha masters!
      </p>

      <p>
        Kaptcha is a fun game where a user is presented with a basic challenges
        such as simple mathematical equations, knowledge of geography, meme
        question, understanding of our professor and much more. While playing
        this game you will hopefully feel a rush of adrenalin as a the timer
        slowly decreases singling end of you turn and the WIN/LOSS of your game!
        For each game you enter you will gamble your trophies as you seek to reach the top!
        The purpose of a kaptcha is learn new facts and broaden your horizon while also having the time of your life!  
      </p>
      <img src="../images/kaptcha.png" alt="Screen shot of a game" />
    </main>
  </body>
</html>
