<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
  </head>
  <body>
    <h1>Room id: {{id}}</h1>
    <textarea cols="30" rows="10" id="textarea"></textarea>
    <br />
    <input type="text" id="message_input" />
    <button onclick="send()">Send</button>
    <script>
      const socket = io("http://localhost:3001");
      socket.on("connection");
    socket.emit("my_room")
      function send() {
        socket.emit("message", message_input.value, get_my_room());
        message_input.value = "";
      }

      function get_my_room() {
        const url = window.location.href;
        const lastSlashIndex = url.lastIndexOf("/");
        return url.slice(lastSlashIndex + 1);
      }

      socket.on("message", (message, room_id) => {
        if(room_id !== get_my_room()){
            return;
        }
        textarea.value += message + "\n";
      });
    </script>
  </body>
</html>
