<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="./style/style-lobby.css">
</head>

<body onload=getRooms()>
    <main>
        <div class="game_room">
            <div class="lobby-head">
                <p>Lobby: </p>
                <button class="lobbyBtn" onclick=createRoom()>Create Room</button>
            </div>

            <p id="errorP" style="color:red"></p>
        </div>

        <div class="user_info">
            <div class="trophies">
                <p>Trophies:</p>
                <p class="points">{{trophies}}</p>
            </div>
            <p>Username: {{username}}</p>
            <p>E-mail: {{email}}</p>
        </div>
    </main>

    <div id="log_out">
        <a href="logout">
            <button>Logout</button>
        </a>
    </div>


    <script src="./scripts/lobby.js"></script>
</body>

</html>