<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/style-register.css">
</head>
<body>
        <div class="game">
            
        </div>
        <div class="register-form">
            <div class="form">
                <h1>Register</h1>
                <form action="/register" method="post"> 
                    <label for="username">Username<input type="text" id="username" name="username">
                    </label>
                    <label for="email">Email<input type="email" id="email" name="email">
                    </label>
                    <label for="password">Password<input type="password" name="password" id="password">
                    </label>
                    <button class="registerBtn" type="submit">Register</button>
            </form>
            </div>
            </div>
            <script src="../scripts/three.js"></script>
            <script src="../scripts/a_reality.js"></script>
</body>
</html>