<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/style-register.css">
</head>
<body>
    <div class="container">
        <div class="register-image">
            
            <!-- <img class="register-image-image" src="https://miro.medium.com/v2/resize:fit:545/1*JiSQVnR_nibjRC1azRl6Fw.jpeg"> -->
        </div>
        <div class="register-form">
            <div class="form">
                <div class="register-form-title"><h1>Register</h1></div>
                <form action="/register" method="post"> 
                    <label for="username">Username<input type="text" id="username" name="username" placeholder="Enter a username">
                    </label>
                    <label for="email">Email<input type="email" id="email" name="email" placeholder="Enter a email">
                    </label>
                    <label for="password">Password<input type="password" name="password" id="password" placeholder="Enter a password">
                    </label>
                    <button class="registerBtn" type="submit">Register</button>
            </form>
            </div>
            </div>
    </div>

</body>
</html>