<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
  </head>
  <body>
    <p>Player1: <span id="p1"></span></p>
    <p>Trophies: <span id="t1"></span></p>
    <p>Player2: <span id="p2"></span></p>
    <p>Trophies: <span id="t2"></span></p>
    <textarea cols="30" rows="10" id="textarea"></textarea>
    <br />
    <input type="text" id="message_input" />
    <button onclick="send()">Send</button>
    <script>
      const socket = io("http://localhost:3001");
      let jsonuser;
      socket.on("connection");

      socket.emit("username", get_my_room());

      function send() {
        socket.emit("message", message_input.value, get_my_room());
        message_input.value = "";
      }

      function get_my_room() {
        const url = window.location.href;
        const lastSlashIndex = url.lastIndexOf("/");
        return url.slice(lastSlashIndex + 1);
      }

      socket.on("username", (game_room, room_id) => {
        if (room_id !== get_my_room()) {
          return;
        }

        p1.innerHTML = game_room.player1.username;
        p2.innerHTML = game_room.player2.username;
        t1.innerHTML = game_room.player1.trophies;
        t2.innerHTML = game_room.player2.trophies;
      });

      socket.on("message", (message, room_id) => {
        if (room_id !== get_my_room()) {
          return;
        }
        textarea.value += message + '\n';
      });

      // socket.on("message", (message, room_id) => {
      //   if (room_id !== get_my_room()) {
      //     return;
      //   }
      //   textarea.value += message + "\n";
      // });

      // socket.on(('room-join', (players_info, room_id)=>{
      //   if (room_id !== get_my_room()) {
      //     return;
      //   }
      //   console.log(players_info);

      //   // document.body.innerHTML = document.body.innerHTML.replace(/{{u1}}/, 'test123');
      // }));

      const onConfirmRefresh = function (event) {
        event.preventDefault();
        return (event.returnValue =
          "You will forfeit the game and return to the lobby?");
      };

      window.addEventListener("beforeunload", onConfirmRefresh, {
        capture: true,
      });
    </script>
  </body>
</html>
