<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
</head>

<body>
  <p>Player1: <span id="p1"></span></p>
  <p>Trophies: <span id="t1"></span></p>
  <p>Player2: <span id="p2"></span></p>
  <p>Trophies: <span id="t2"></span></p>
  <textarea cols="30" rows="10" id="textarea"></textarea>
  <br />
  <input type="text" id="message_input" />
  <button onclick="send()">Send</button>
  <button id="magic">Magic button</button>
  <script src="../scripts/clientSocket.js"></script>
</body>

</html>